<!DOCTYPE html>
<html>
<head>
  <title>Mat</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<h3 style="padding: 15px">Matlistor</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <h4>Arcada</h4>
        <p>
          Idag:
        </p>
        <%= simple_format(@arcadaResponse) %>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <h4>Diak</h4>
        <p>
          Idag:
        </p>
        <%= simple_format(@diakResponse) %>
    </div>
  </div>

</div>
</html>
